@import "themes/nord.css";


* {
    font-family: FiraCodeNerdFont;
    font-weight: 500;
    font-size: 17px;
    border-radius: 10px;
	margin-top: 4px;
    padding: 1px;
    color: @theme-fg;
}

window#waybar {
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

.modules-left {
    margin-left: 20px;
    background-color: @theme-bg;
    padding: 0px;
    border: none;
}

#custom-system-icon {
    font-size: 28px;
	padding-left: 10px;
	padding-right: 10px;
    color: @theme-cyan;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -2px @theme-blue;*/
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /*box-shadow: inset 0 -3px #ffffff;*/
}

button.active {
    color: @theme-blue;
}

#workspaces button {
    margin-right: 13px;
    margin-bottom: 4px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

#workspaces button:hover {

}

#workspaces button.focused {
    color: @theme-blue;
}

#workspaces button.urgent {
    color: @theme-red;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-center {
    background-color: @theme-bg;
}

#clock {
    padding-right: 5px;
    padding-left: 15px;
}

.modules-right {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: @theme-bg;

}

label:focus {
    background-color: #000000;
}

#cpu {

}

#memory {

}

#disk {

}

#network {

}

#network.disconnected {

}

#pulseaudio {

}

#pulseaudio.muted {

}

#wireplumber {

}

#wireplumber.muted {

}

#custom-media {

}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}


#temperature {
}

#temperature.critical {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
