@define-color theme-bg rgb(41,44,45);
@define-color theme-fg rgb(218,218,218);
@define-color theme-black rgb(29,32,33);
@define-color theme-blue rgb(131,193,201);
@define-color theme-cyan rgb(142,192,124);
@define-color theme-green rgb(184,187,38);
@define-color theme-magenta rgb(211,134,155);
@define-color theme-red rgb(251,73,52);
@define-color theme-white rgb(218,218,218);
@define-color theme-yellow rgb(250,189,47);
@define-color theme-light-black rgb(41,44,45);
@define-color theme-orange rgb(254,128,25);

